.btn
    display: inline-block
    margin: 0
    color: var(--btn-color, var(--light, #fff))
    background-color: var(--btn-background, var(--dark, #333))
    border-style: var(--btn-border-style, none)
    border-width: var(--btn-border-width, 0)
    border-color: var(--btn-border-color, transparent)
    padding: var(--btn-padding, 10px)
    border-radius: var(--btn-radius, var(--radius, 0))
    font-size: var(--btn-font-size, 15px)
    font-weight: var(--btn-font-weight, 700)
    text-transform: var(--btn-text-transform, 'initial')
    text-align: center
    white-space: nowrap
    vertical-align: middle
    line-height: 1

    & + .btn
        margin-left: 10px

    &.btn--disabled,
    &[disabled]
        opacity: 0.5
        cursor: default

    &.btn--wide
        width: 100%


// colors
@each $color in map-get($button, 'color')
    .#{nth($color, 1)}
        background: #{nth($color, 2)} !important
        color: #{nth($color, 3)} !important

        &:hover:not(.btn--disabled)
            background: darken( nth($color, 2), 5% ) !important
            color: darken( nth($color, 3), 5% ) !important

        &.btn--outline
            box-shadow: inset 0 0 0 2px nth($color, 2) !important
            color: nth($color, 2) !important
            background: transparent !important


// sizes
@each $name, $size, $padding in map-get($button, 'size')
    .#{$name}
        font-size: #{$size}
        padding: #{$padding}


// radius
@each $name, $radius in map-get($button, 'radius')
    .#{$name}
        border-radius: #{$radius}
