/*
    forms.sass

@use "sass:map"
@use "config" as *
@use 'mixins' as *

$form__row: map.get($forms, 'form__row')
$form__row--submit: map.get($forms, 'form__row--submit')
$form__label: map.get($forms, 'form__label')
$form__text: map.get($forms, 'form__text')

.form
    &__row
        position: relative

        & + &
            margin: map.get($form__row, margin)

    &__field
        &.form__field--submit
            text-align: map.get($form__row--submit, text-align)

        p
            margin: 0

    &__label
        display: inline-block
        padding: map.get($form__label, padding)
        font-weight: map.get($form__label, font-weight)
        color: map.get($form__label, color)
        background-color: map.get($form__label, background-color)
        position: relative
        left: 10px
        bottom: 0
        cursor: pointer
        z-index: 1
        transform: translateY(50%)

    &__required
        color: color('error')

    &__text,
    &__textarea,
    &__select
        display: block
        width: 100%
        height: map.get($form__text, height)
        padding: map.get($form__text, padding)
        font-family: map.get($form__text, font-family)
        font-weight: map.get($form__text, font-weight)
        font-size: map.get($form__text, font-size)
        color: nth(nth(map.get($form__text, colors), 1), 4)
        background-color: nth(nth(map.get($form__text, colors), 1), 2)
        border-width: nth(nth(map.get($form__text, colors), 1), 5)
        border-style: nth(nth(map.get($form__text, colors), 1), 6)
        border-color: nth(nth(map.get($form__text, colors), 1), 7)
        border-radius: nth(nth(map.get($form__text, radius), 1), 2)
        +transition

        &:hover,
        &:focus,
        &:active
            background-color: nth(nth(map.get($form__text, colors), 1), 3) !important

    &__textarea
        height: map.get($form__text, height-textarea)
