// grids
=mediamin($breakpoint)
    @media (min-width: $breakpoint)
        @content

=mediamax($breakpoint)
    @media (max-width: $breakpoint)
        @content


// colors
@function color($key)
    @if map-has-key($colors, $key)
        @return map-get($colors, $key)

    @warn "Unknown `#{$key}` in $colors."
    @return null


// fonts
@function font-family($key)
    @if map-has-key($font-family, $key)
        @return map-get($font-family, $key)

    @warn "Unknown `#{$key}` in $font-family."
    @return null

@function font-size($key)
    @if map-has-key($font-size, $key)
        @return map-get($font-size, $key)

    @warn "Unknown `#{$key}` in $font-size."
    @return null


// links
=link($link, $hover)
    &
        color: $link

        &:hover
            color: $hover


// text
=transition($p: all, $d: 300ms, $t: linear)
    transition: $p $d $t
