//*
        reset

*, *::before, *::after
    box-sizing: border-box

html, body, div, h1, h2, h3, h4, h5, h6, p, span, a,
applet, object, iframe, blockquote, pre, abbr, acronym, address, big, 
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, 
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, figure, figcaption, footer, header, 
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
    display: block

body
    line-height: 1

ol, ul
    list-style: none

blockquote, q
    quotes: none

blockquote:before, blockquote:after, q:before, q:after
    content: ''
    content: none

table
    border-collapse: collapse
    border-spacing: 0

strong, b
    font-weight: bold

em
    font-style: italic

input, textarea
    outline: none
    resize: none
    overflow: auto
    font-family: inherit
    border-radius: 0

a, .btn
    position: relative
    text-decoration: none
    font-style: normal
    cursor: pointer
    user-select: none
    +transition

\:focus
    outline: none

\::-moz-focus-inner
    border: 0

img
    max-width: 100%
    height: auto
    display: block
