.cc_container
	background: map-get($cookies, background)
	padding: 10px 20px !important
	position: fixed
	left: 0
	right: 0
	bottom: 0
	overflow: hidden
	z-index: 100

.cc_logo
	display: none

.cc_message
	margin: 0 !important
	font-size: 13px
	color: map-get($cookies, color)

.cc_more_info,
.cc_btn
	color: map-get($cookies, color-link)
	font-size: 13px
	font-weight: 700

	&:hover
		color: map-get($cookies, color-link-hover)

.cc_btn
	float: right